<mat-sidenav-container fullscreen>
  <mat-toolbar color="primary">
    <button mat-icon-button color="warn" (click)="sidenav.toggle()">
      <mat-icon svgIcon={{menuIconName}}></mat-icon>
    </button>
    <span class="nav-space"></span>
    <app-signin></app-signin>
    <app-signup></app-signup>
  </mat-toolbar>
  <mat-sidenav #sidenav opened="false" class="sidenav">
    <mat-list>
      <mat-list-item>
        <div class="menu-item-container">
          <button mat-raised-button color="primary" class="sidenav-button" (click)="onShowMyTripsClick()">Show my trips</button>
        </div>
      </mat-list-item>
      <mat-list-item class="menu-item-container">
        <button mat-raised-button color="primary" class="sidenav-button" (click)="onAddNewTripClick()">Add new trip</button>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>

  <router-outlet></router-outlet>

</mat-sidenav-container>


