.trip-head {
  margin-top: 5px;
  background-color: #F5F5F5;
  border: medium;
  height: 80px;
  border-radius: 8%;
  margin-bottom: 10px;
}

.title {
  color: black;
  font-size: 250%;
  font-family: "Roboto";
}
